* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-style: italic;
}
:root {
    --color_primary:  rgb(88, 93, 253);
    --color_secondary: grey;    
    --radius: 10px;    
}
.title_page {
    font: sans-serif;
    margin: 1rem;
    background-image: url(../multimedia/imagenes/complejoescolar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
}
.titulo {
    color:aliceblue;
    text-shadow: 5px 4px 4px;
    font-size: 5rem;
    -webkit-text-stroke: 2px black;

}
    
    .nav__menu {
        width: 100%;
        margin: 1rem;
        background-color: var(--color_primary);
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        /* border-radius: 5px; */
        border-radius: var(--radius);
    }
    
    .nav__list {
        color : rgb(244, 245, 212);
        display: flex;
        font-size: 20px;
        list-style: none;
        gap: 2rem;
    }
/* .section_1 { */
.title_sec {
    display: block;
    text-align: center;
   }
.title_sec img {
    width: 10rem;
}

.info {
    margin: 0 10rem;
    padding:  2,5%;
    display: flex;
    align-items: center; 
}
 
.info img {
        margin: 2rem; 
}
      
.foot-container {
        display: flex;
        background-color: var(--color_secondary);
        margin: 1rem;
        border-radius: var(--radius);
      }
      .foot-item {
        width: 33%;
        margin: 10px;
        text-align: center;
        line-height: 100px;
        font-size: 50px;
      }
      .u_noticias {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 10px;
        margin: 2rem;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 6; }
        .div2 { grid-area: 2 / 1 / 3 / 3; }
        .div3 { grid-area: 2 / 3 / 3 / 5; }

    .un_logo {
        margin: 1.5rem;
        width: 12rem;
       
    }

 .div2 .div3 p {
    border: 1px solid red;
    margin-left: 10rem;
    text-align: center;
 }
.foot-item p {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}