* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-style: italic;
    text-decoration: none;
}
@media (width <= 800px) {
    body {
        font-size: 10px;
  
        }
       .title_page {
        background-image: url("../multimedia/imagenes/logoschool.jpg") ;
        align-items:  center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
       }

        .info {
            flex-direction:column;
            align-items:  center;

            } 
         
       .list_card {
        flex-direction:column ;
        align-items:  center;
       }
    }
  @media (800px <= width <= 1280px) {
    .title_page {
        background-image: url(../multimedia/imagenes/complejoescolar.jpg);
        background-size: contein;
        background-repeat: no-repeat;
        background-position: center;
        }  
    .info {
        flex-direction:column
        } 
       
   .list_card {
    flex-direction:column ;
    align-items:  center;
   }
}
  
  @media (width >= 1280px) {
    .title_page {
    background-image: url(../multimedia/imagenes/complejoescolar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    }  
}

:root {
    --color_primary: rgb(88, 93, 253);
    --color_secondary: grey;
    --radius: 10px;
}

.title_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font: sans-serif;
    margin: 1rem;
    height: 50vh;
    padding: 40px;
    border-radius: var(--radius);
}

.titulo {
    color: aliceblue;
    text-shadow: 5px 4px 4px;
    font-size: 5rem;
    -webkit-text-stroke: 2px black;
    text-align: center;
}

.nav__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 6px groove rgb(133, 133, 227);
    position: fixed ;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    /* height: 6rem; */
    margin: 0 0 0 0;
    background-color: var(--color_primary);
   
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.navitem>a {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    color: rgb(244, 245, 212);
    font-size: 20px;
    padding: 2rem;
    gap: 5rem;
}

.navitem>a:hover {
    font-weight: bolder;
    text-shadow: 4px 3px 3px aliceblue;
}

.title_sec {
    display: block;
    text-align: center;
}

.title_sec img {
    width: 10rem;
}

.info {
    margin: 0 10rem;
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.info img {
    margin: 2rem;
}

.foot-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--color_secondary);
    margin: 1rem;
    border-radius: var(--radius);
}

.foot-item {
    width: 33%;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
}

.foot-item p {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.u_noticias {
    display: grid;
    justify-content:space-evenly;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    margin:  0 10rem;
    text-align: center;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    /* grid: template rows 30px; */
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
}
.un_logo {
    margin: 0 1.5rem;
    width: 16rem;
}

.list_card {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}    

.card {
    margin: 1rem;
    box-shadow: 0px 10px 10px black;
}

h2:hover {
    transform: scale(1.3);
    color :dodgerblue;
}
.card>img {
    width: 100%;
    height: 14rem;
    border-radius: 50%;
    padding:  3rem;
}

.form-group :hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px rgb(115, 160, 238);

}
